*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x:hidden;
}
.nav{
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    position: absolute;
    top: 0;
    background-color: white;
}
.responsive-nav{
    width: 100%;
    position: absolute;
    z-index: 25626256;
    background-color: #f4a825;
    text-align: center;
    transition: all 0.4s;
    height: 0px;
    overflow: hidden;
    position: fixed;
    margin-top: -83px;
}
.responsive-nav li{
    list-style: none;
    margin-bottom: 10px;
    margin-top: 5px;
}
.responsive-nav li a{
    text-decoration: none;
    color: white;
}
.responsive-nav a:hover{
    background-color: #9c9797;
    color: #EE8E3D;
    border-radius: 5px;
    width: 50px;
}
.responsive-nav .button1{
    Width: 110px;
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid rgb(99, 134, 177);
    background-color: transparent;
}
.responsive-nav .button1:hover{
    background-color:gray;
    border:  1px solid rgb(99, 134, 177);
    color:white;
}
.responsive-nav .button2{
    Width: 110px;
    height: 35px;
    background-color: #EE8E3D;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 12px;
    border: 1px solid transparent;
}
.responsive-nav .button2:hover{
    background-color:transparent;
    border:  1px solid rgb(99, 134, 177);
    color:#ffffff;
}
.toogle{
    display: none;
}
.hideimg{
    display: none;
}
.bars{
    display: none;
}
.buttons{
    margin-top: 26px;
}
.buttons .button1{
    Width: 110px;
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid rgb(99, 134, 177);
    background-color: transparent;
}
.buttons .button1:hover{
    background-color:gray;
    border:  1px solid rgb(99, 134, 177);
    color:white;
}
.buttons .button2{
    Width: 110px;
    height: 35px;
    background-color: #EE8E3D;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 12px;
    border: 1px solid transparent;
}
.buttons .button2:hover{
    background-color:transparent;
    border:  1px solid rgb(99, 134, 177);
    color:#EE8E3D;
}
.home ul{
    display: flex;
    margin-top:20px;
}
.home ul li{
    list-style: none;
}
.special1{
    color: #EE8E3D;
}
.special2{
    color: #07BEF8;
}
.home ul li img{
    margin-left: 30px;
    width: 70px;
    margin-top: -20px;
}
.home ul a{
text-decoration: none;
color: black;
padding: 10px;
font-size: 14px;
font-weight: 400;
}
.home ul a:hover{
  border-bottom: 2px solid #EE8E3D;
  color: #EE8E3D;
}
.nav .nav-imge img{
    width: 76px;
    height: 76px;
    border-radius: 10px;
}
.row-btn {
    margin-top: 170px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.row-btn .img{
    width: 45%;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
    animation: move 3s ease-in-out infinite;
}
@keyframes move {
    10% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(15px);
    }
}

.row-btn .img img{
    width: 747px;
    height: 500px;
}
.row-btn .cicle{
    position: absolute;
    top: 130px;
    left: -143px;
    width: 215px;
    height: 215px;
    border: 30px solid #3485B9;
    border-radius: 298px;
}
.discription {
    margin-top: 50px;
}
.discription h1{
    font: normal normal bold 70px/236px 'Cairo', sans-serif;
}
.discription .cicle2{
    position: absolute;
    top: 150px;
right: -500px;
width: 595px;
height: 595px;
border: 32px solid #F4A825;
border-radius: 298px;
}
.discription p{
    width: 500px;
    margin-left: -20px;
    text-align: right;
    margin-top: -50px;
}
.button-img{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.button-img button{
    padding: 5px 15px;
    background-color: #EE8E3D;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
}
.button-img button i{
    font-size:14px;
    margin-right: 3px;
}
.img-dot{
    position: absolute;
    left: 62%;
    width: 20px;
}
.jagzag img{
    position: absolute;
    right: 170px;
}

.row1 {
    background-color: #F8F8F8;
    padding-top: 1px
}
.row1 .cols{
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin:200px auto auto auto; 
}
.row1 .cols .card{
    border-radius: 20px;
    margin: 10px;
    transition: 0.5s;
}
.row1 .cols .card:hover{
    transform: translateY(-12px);
}
.card-h2{
    right: 100px;
    position: relative;
    position: absolute;
    margin-top: 70px;
    width: 149px;
    height: 68px;
}
.card-h2::before{
    content: "";
    border-radius: 5px;
    height: 50px;
    right: 0px;
    width: 3px;
    background-color: #3485B9;
    position: absolute;
}
.img-aim{
    height: 210px;
    border-radius: 20px;
}
.arows{
display: flex;
justify-content: center;
margin-top: 10px;
}
.arows .arow{
    background-color: #ae3d3d;
    width: 25px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    color: white;
}
.arows .arow1{
    background-color: #ae3d3d;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px;
    color: white;
}
.cards-h2{
    right: 70px;
    position: relative;
    position: absolute;
    margin-top: 70px;
    width: 149px;
    height: 68px;
}
.cards-h2::before{
    content: "";
    border-radius: 5px;
    height: 50px;
    right: 35px;
    width: 3px;
    background-color: #3485B9;
    position: absolute;
}
.cols .card .card-body .card-text{
    margin-top: -10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-align: right;
}
.cols .card .card-body .para{
    font-size: small; 
    margin-top: -10px;
    font-weight: 100;
    text-align: right;
    font-family: 'Cairo', sans-serif;
}
.cols .card .card-body .para i{
margin-left: 5px;
color: rgb(130, 130, 130);
}
.create{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    padding-top: 200px;   
    text-align: right;
}
.create .card{
   align-items: end;

}
.create .img-color img{
    width: 90px;
    height: 90px;
}
.color1{
    background-color: #fff5d0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.color2{
    background-color: #fff5d0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
    
}
.color3{
    background-color: #c3a5ff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.color4{
    background-color: #b3ebff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.create .card h5{
font-size: 22px;
font-weight: 800;
}
.create .card p{
    color: #919191;
    font-size: 13px;
}
.gba{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.imge-gba{
    width: 95%;
}
.imge-gba img{
    width: 100%;
}
.options {
    width: 100%;
    padding-top: 10px;
    margin-top: 100px;
}
.options .options-cards{
  display: flex;
  width: 70%;
  margin: auto;
margin-top: 200px;
justify-content: space-evenly;
}
.options .options-cards .card{
    border-radius: 15px;
    border: 1px solid transparent;
}
.options .options-cards .card img{
    height: 70%;
}
.options .options-cards .card a{
    width: 112%;
    height: 60px;
    margin-left: -18px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options .cards-h2{
    width: 10%;
}
.options .cards-h2 h2{
    width: 10%;
    text-align: right;
}
.color5{
    background-color: #07BEF8;
    border: 1px solid transparent;
}
.color6{
    background-color: #F86707;
    border: 1px solid transparent;
}
.color7{
    background-color: #00D586;
    border: 1px solid transparent;
}
.caption{
    width: 100%;
    padding-top: 10px;
    background-color: #F8F8F8;
    padding-bottom: 30px;
}
.caption .caption-cards{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 200px auto auto auto;
    margin-top: 200px;
}
.caption .caption-cards .card{
    border: 1px solid transparent;
    height: 350px;
    text-align: right;
    border-radius: 10px;
}
.caption .caption-cards .card img{
    height: 65%;
    border-radius: 10px;
}
.caption .caption-cards .card h5{
    font-size: 15px;
    font-family: 700;
}
.caption .caption-cards .card p{
    font-size: small;
    font-weight: 100;

}
.caption .caption-cards .card .btn-primary{
    background-color: #F4A825;
    color: white;
    font-size: small;
   border: 1px solid transparent;
}
.carda-h2 {
    right: 70px;
    position: absolute;
    margin-top: 70px;
    height: 68px;
}
.carda-h2::before{
    content: "";
    border-radius: 5px;
    height: 50px;
    right: -10px;
    width: 3px;
    background-color: #3485B9;
    position: absolute;
}
.aims{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 150px;
}
.imges{
    width: 20%;
   
}
.aims .imges img{
    width: 100%;
}
.take{
    display: flex;
    margin: auto;
    width: 80%;
    flex-direction: row-reverse;
    text-align: right;
}
.take-1{
    width: 50%;
}
.take input{
    text-align: right;
    margin-top: 5px;
    background-color: #F2F1F5;
    width: 80%;
    margin: auto;
}
.take-2{
    width: 70%;
    height: 660px;
}
.take-2 img{
    width: 100%;
    height: 100%;
}
.take select{
    width: 80%;
    height: 38px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    margin-top: 5px;
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    font-family: inherit;
    background-color: #F2F1F5;
    margin-right: 55px;
}
.textarea{
   margin-right: 70px;
  
}
.textarea textarea{
    border-radius: 10px;
    border: 1px solid #DFDFDF;
    background-color: #F2F1F5;
    text-align: right;
}
.footer{
    width: 100%;
    background-color: #3485B9;
    display: flex;
    justify-content: space-around;
}
.footer-follow{
    margin: auto;

}
.footer-follow h5{
    color: white;
    font-size: 14px;
    text-align: right;
    margin-bottom: 10px;
}
.footer-follow .icons{
    display: flex;
    text-align: right;
    justify-content: right;
}
.footer-follow .icons i{
    padding: 5px;
    color: yellow;
    margin-bottom: 5px;
}
.footer-follow .input-button input{
    padding: 1px 10px;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    border:1px solid transparent;
}
.footer-follow  .input-button{
    display: flex;
    flex-direction: row-reverse;
}
.footer-follow  .input-button button{
    padding: 10px 20px;
    border:1px solid transparent;
    background-color: #F4A825;
    border-radius: 10px 0px 0px 10px;
    font-size: 10px;
    font-weight: 500;
}
.footer-contact{
    margin: auto;

}
.footer-contact .icons-contact{
    display: flex;
    flex-direction: row-reverse;
}
.footer-contact .icons-contact i{
 color: yellow;
 padding: 5px;
}
.footer-contact .icons-contact h5{
    color: white;
    font-size: 14px;
    padding: 5px;
}
.footer-contact .h5{
    text-align: right;
    color: white;
    font-size: 14px;
    font-weight: 300;
}
.footer-home{
    margin: auto;
    text-align: right;
}
.footer-home a{
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
}
.footer-adderss{
    margin: auto;
}
.footer-adderss .icons-home{
    display: flex;
    flex-direction: row-reverse;
}
.footer-adderss .icons-home h5{
    font-size: 14px;
    color: white;
}
.footer-adderss img{
   margin-left: 250px;
   margin-bottom: 20px;
}
.footer-adderss .icons-home i{
    color: yellow;
    padding: 0px 8px;
}
.Created{
    background-color: #EE8E3D;
    height: 20px;
}
h6{
    text-align: center;
}
h6 a{
    text-decoration: none;
    color: white;
    margin: 0px 5px;
}
h6 a:hover{
    color: #00D586;
}


.show{
    width: 600px;
    height: 370px;
    padding-top: 10px;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 30%;
    border: 1px solid white;
    box-shadow: 0px 2px 50px rgb(64, 64, 64) ;
    border-radius: 20px;
    opacity: 0;
    z-index: -10;
}
.show .login{
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
}
.show .login .imge-tasgel{
    height: 200px;
    margin-left: 25PX;
}
.show .login .imge-tasgel img{
    width: 85%;
    height: 300px;
}
.show .input-tasgel {
    text-align: right;
    width: 60%;
}
.show .input-tasgel select{
    display: block;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    background-color: #9c9797;
    margin-bottom: 10px;
    border: 1px solid transparent;
    direction: rtl;
    padding-right: 5px;


}
.show .input-tasgel input{
    display: block;
    margin-bottom: 10px;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    background-color: #9c9797;
    margin-bottom: 10px;
    border: 1px solid transparent;
    text-align: right;
      padding-right: 5px;
}
.show .input-tasgel h3{
    margin-bottom: 25px;
    font-size: 18px;
    margin-right: 20px;
}
.show .input-tasgel .back{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.show .input-tasgel .i-tas{
    background-color: #9c9797;
    width: 25px;
    height: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 20px;
    cursor: pointer;
}
.show .input-tasgel .button5{
    cursor: pointer;
    padding: 8px 30px;
    border: 1px solid transparent;
    background-color: #F4A825;
    border-radius: 8px;
    font-size: 14px;
    margin-right: 30px;
}





.show3{
    width: 600px;
    height: 370px;
    padding-top: 10px;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 180px;
    left: 30%;
    border: 1px solid white;
    box-shadow: 0px 2px 50px rgb(64, 64, 64) ;
    border-radius: 20px;
    opacity: 0;
    z-index: 54165;
}
.show3 .login3{
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
}
.show3 .login3 .imge-tasgel3{
    height: 200px;
    margin-left: 25PX;
}
.show3 .login3 .imge-tasgel3 img{
    width: 85%;
    height: 300px;
}
.show3 .input-tasgel3 {
    text-align: right;
    width: 60%;
}

.show3 .input-tasgel3 input{
    display: block;
    margin-bottom: 10px;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    background-color: #d3cece;
    margin-bottom: 10px;
    border: 1px solid transparent;
    text-align: right;
      padding-right: 5px;
}
.show3 .input-tasgel3 h3{
    font-size: 18px;
    margin-right: 20px;
}
.show3 .input-tasgel3 p{
    margin-right: 20px;
    font-size: 14px;
    color: #9c9797;
}
.show3 .input-tasgel3 .back3{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.show3 .input-tasgel3 .i-tas3{
    background-color: #9c9797;
    width: 25px;
    height: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 20px;
    cursor: pointer;
}
.show3 .input-tasgel3 .button53{
    cursor: pointer;
    padding: 8px 30px;
    border: 1px solid transparent;
    background-color: #F4A825;
    border-radius: 8px;
    font-size: 14px;
    margin-right: 30px;
}





.top{
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    bottom: 20px;
    right: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    position: fixed;
    z-index: 564165419865410;
    opacity: 0;
    cursor: pointer;
}




@media(max-width:600px){
    .nav{
        box-shadow: 0px 0px 40px rgb(157, 157, 157);
        padding-top: 10px;
        position: static;
        position: fixed;
        background-color: white;
        z-index: 4546541541;
    }
    .hideimg{
        display: block;
        text-align: right;
        margin-left: 25px;
    }

    .hidden{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .toogle{
        display: block;
       margin-right: 25px;
       margin-top: 20px;
       font-size: 22px;
    }
    .bars{
        display: block;
        width: 100%;
       height: 200px;
       background-color: #00D586;
    }
    .buttons{
       display: none;
       
    }
    .home ul{
        display: none;
    }
    .row-btn {
        margin-top: 170px;
        display: block;
        justify-content: space-around;
        margin-bottom: 100px;
    }
    .row-btn .img{
        width: 90%;
        height: auto;
        animation: move 3s ease-in-out infinite;
        margin: auto;
        margin-bottom: 0px;
        display: block;
    
    }
    .row-btn .img img{
        width: 100%;
    }
    .row-btn .cicle{
       display: none;
    }
    .img-dot{
        position: absolute;
        right: 20px;
        width: 20px;
        bottom: -50px;
    }
    .jagzag img{
        position: absolute;
        left: 20px;
        margin-bottom: 20px;
        margin-top: -20px;
    }
     .hamada img{
        position: absolute;
        right: 20px;
        width: 100px;
       margin-top: 10px;
     }
    .discription .cicle2{
        display: none;
    }
    .discription h1{
        font-size: 100px;
        font-family: inherit;
        width: 100%;
        text-align: center;
        margin: auto;
        line-height: 1.1;
        margin-bottom: 70px;
    }
    .discription{
        margin-top: 80px;
    }
    .discription p{
        width:auto;
        text-align: center;
        margin-right: -20px;
    }
    .button-img{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .button-img button{
        margin: auto;
        text-align: center;
    }
    .row1 {
       margin-top: -20px;
    }
    .row1 .cols{
        align-items: center;
        width: 85%;
        display: block;
        justify-content: space-evenly;
        margin:200px auto auto auto; 
    }
    .row1 .cols .card{
        border-radius: 20px;
        transition: 0.5s;
        margin-bottom: 20px;
    }
    .row1 .cols .card:hover{
        transform: translateY(-12px);
    }
    .card-h2{
        right: 0;
    }
    .card-h2::before{
        height: 40px;
        right: 30px;
    }
    .cards-h2{
        right: 40px;
        width: auto;
    }
    .cards-h2::before{
        height: 40px;
        right: -10px;
    }
    .cols .card .card-body .card-text{
        margin-top: -10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        text-align: right;
    }
    .cols .card .card-body .para{
        font-size: small; 
        margin-top: -10px;
        font-weight: 100;
        text-align: right;
        font-family: 'Cairo', sans-serif;
    }
    .cols .card .card-body .para i{
    margin-left: 5px;
    color: rgb(130, 130, 130);
    }
    .create{
        display: block;
        justify-content: space-evenly;
        width: 80%;
        margin: auto;
        padding-top: 200px;   
        text-align: center;
    }
    .create .card{
       align-items: center;
       width: 100% !important;
       margin-bottom: 10px;
    }
    .create .img-color img{
        width: 90px;
        height: 90px;
    }
    .color1{
        background-color: #fff5d0;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .color2{
        background-color: #fff5d0;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 10px;
        margin-top: 10px;
        
    }
    .color3{
        background-color: #c3a5ff;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .color4{
        background-color: #b3ebff;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .create .card h5{
    font-size: 22px;
    font-weight: 800;
    }
    .create .card p{
        color: #919191;
        font-size: 13px;
    }
    .gba{
        width: 100%;
        margin: auto;
        margin-top: 100px;
       text-align: center;
    }
    .imge-gba{
        width: 100%;
        text-align: center;
    }
    .imge-gba img{
        width: 95%;
        margin: auto;
    }
    .options {
        width: 100%;
        padding-top: 10px;
        margin-top: 100px;
    }
    .options .options-cards{
      display: block;
      width: 100%;
      margin: auto;
      margin-top: 200px;
    }
    .options .options-cards .card{
        border-radius: 15px;
        border: 1px solid transparent;
        margin: auto;
    }
    .options .options-cards .card img{
        height: 70%;
    }
    .options .options-cards .card a{
        width: 112%;
        height: 60px;
        margin-left: -18px;
        border-radius: 0px 0px 10px 10px;
        margin-top: -17px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .options .cards-h2{
        width: auto;
    }
    .options .cards-h2 h2{
        width: 10%;
        text-align: right;
    }
    .color5{
        background-color: #07BEF8;
        border: 1px solid transparent;
    }
    .color6{
        background-color: #F86707;
        border: 1px solid transparent;
    }
    .color7{
        background-color: #00D586;
        border: 1px solid transparent;
    }
    .caption{
        width: 100%;
        padding-top: 10px;
        background-color: #F8F8F8;
        padding-bottom: 30px;
    }
    .caption .caption-cards{
        width: 100%;
        display: block;
        justify-content: space-evenly;
        margin: 200px auto auto auto;
        margin-top: 200px;
    }
    .caption .caption-cards .card{
        border: 1px solid transparent;
        height: 350px;
        text-align: right;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 20px;
    }
    .caption .caption-cards .card img{
        height: 65%;
        border-radius: 10px;
    }
    .caption .caption-cards .card h5{
        font-size: 15px;
        font-family: 700;
    }
    .caption .caption-cards .card p{
        font-size: small;
        font-weight: 100;
    
    }
    .caption .caption-cards .card .btn-primary{
        background-color: #F4A825;
        color: white;
        font-size: small;
       border: 1px solid transparent;
    }
    .carda-h2 {
        right: 25px;
        width: 90px;
    }
    .carda-h2::before{
    
        height: 70px;
    }
    .aims{
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 150px;
    }
    .imges{
        width: 100%;
        margin-top: -20px;
       
    }
    .aims .imges img{
        width: 100%;
    }
    .take{
        display: block;
        margin: auto;
        width: 80%;
        flex-direction: row-reverse;
        text-align: right;
    }
    .take-1{
        width: 100%;
    }
    .take input{
        width: 100%;
    }
    .take-2{
        width: 100%;
        

    }
    .take-2 img{
        width: 100%;
        height: 60%;
    }
    .take select{
        width: 100%;
        margin-right: 18px;
    }
    .textarea{
        width: 100%;
        margin: auto;
    }
    .textarea textarea{
        border-radius: 10px;
        border: 1px solid #DFDFDF;
        background-color: #F2F1F5;
        text-align: right;
        width: 100%;
    }
    .footer{
        width: 100%;
        margin-top: -200px;
        padding-right: 10px;
        padding-top: 10px;
        background-color: #3485B9;
        display: block;
        justify-content: space-around;
    }
    .footer-follow{
        margin: auto;
    
    }
    .footer-follow h5{
        color: white;
        font-size: 14px;
        text-align: right;
        margin-bottom: 10px;
    }
    .footer-follow .icons{
        display: flex;
        text-align: right;
        justify-content: right;
    }
    .footer-follow .icons i{
        padding: 5px;
        color: yellow;
        margin-bottom: 5px;
    }
    .footer-follow .input-button input{
        padding: 1px 10px;
        border-radius: 0px 5px 5px 0px;
        background-color: white;
        border:1px solid transparent;
    }
    .footer-follow  .input-button{
        display: flex;
        flex-direction: row-reverse;
    }
    .footer-follow  .input-button button{
        padding: 10px 20px;
        border:1px solid transparent;
        background-color: #F4A825;
        border-radius: 10px 0px 0px 10px;
        font-size: 10px;
        font-weight: 500;
    }
    .footer-contact{
        margin: auto;
    
    }
    .footer-contact .icons-contact{
        display: flex;
        flex-direction: row-reverse;
    }
    .footer-contact .icons-contact i{
     color: yellow;
     padding: 5px;
    }
    .footer-contact .icons-contact h5{
        color: white;
        font-size: 14px;
        padding: 5px;
    }
    .footer-contact .h5{
        text-align: right;
        color: white;
        font-size: 14px;
        font-weight: 300;
    }
    .footer-home{
        margin: auto;
        text-align: right;
    }
    .footer-home a{
        display: block;
        color: white;
        padding: 5px;
        text-decoration: none;
    }
    .footer-adderss{
        margin: auto;
    }
    .footer-adderss .icons-home{
        display: flex;
        flex-direction: row-reverse;
    }
    .footer-adderss .icons-home h5{
        font-size: 14px;
        color: white;
    }
    .footer-adderss img{
       margin-left: 160px;
       margin-bottom: 20px;
    }
    .footer-adderss .icons-home i{
        color: yellow;
        padding: 0px 8px;
    }
    .Created{
        background-color: #EE8E3D;
        height: 20px;
    }
    h6{
        text-align: center;
    }
    h6 a{
        text-decoration: none;
        color: white;
        margin: 0px 5px;
    }
    h6 a:hover{
        color: #00D586;
    }
    
    
    .show{
        width: 100%;
        height: 370px;
        padding-top: 10px;
        margin: auto;
        background-color: white;
        position: absolute;
        top: 100px;
        left: 0;
        border: 1px solid white;
        box-shadow: 0px 2px 50px rgb(64, 64, 64) ;
        border-radius: 20px;
        opacity: 0;
        z-index: 10;
    }
    .show .login{
        margin-top: 30px;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    .show .login .imge-tasgel{
        height: 200px;
        margin-left: 25PX;
    }
    .show .login .imge-tasgel img{
        width: 85%;
        height: 300px;
    }
    .show .input-tasgel {
        text-align: right;
        width: 60%;
    }
    .show .input-tasgel select{
        display: block;
        width: 100%;
        height: 35px;
        font-size: 12px;
        border-radius: 5px;
        background-color: #9c9797;
        margin-bottom: 10px;
        border: 1px solid transparent;
        direction: rtl;
        padding-right: 5px;
    }
    .show .input-tasgel input{
        display: block;
        margin-bottom: 10px;
        width: 100%;
        font-size: 12px;
        height: 35px;
        border-radius: 5px;
        background-color: #9c9797;
        margin-bottom: 10px;
        border: 1px solid transparent;
        text-align: right;
        padding-right: 5px;
    }
    .show .input-tasgel h3{
        margin-bottom: 25px;
        font-size: 18px;
        margin-right: 20px;
    }
    .show .input-tasgel .back{
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .show .input-tasgel .i-tas{
        background-color: #9c9797;
        width: 25px;
        height: 20px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 2px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .show .input-tasgel .button5{
        cursor: pointer;
        padding: 8px 30px;
        border: 1px solid transparent;
        background-color: #F4A825;
        border-radius: 8px;
        font-size: 14px;
        margin-right: 30px;
    }

    .show3{
        width: 100%;
        height: 390px;
        padding-top: 0px;
        left: 0;
        opacity: 0;
        z-index: 498464;
    }
    .show3 .login3{
        margin-top: 30px;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    .show3 .login3 .imge-tasgel3{
        height: 200px;
        margin-left: 25PX;
    }
    .show3 .login3 .imge-tasgel3 img{
        width: 85%;
        height: 300px;
    }
    .show3 .input-tasgel3 {
        text-align: right;
        width: 60%;
    }
    
    .show3 .input-tasgel3 input{
        display: block;
        margin-bottom: 10px;
        width: 90%;
        height: 35px;
        border-radius: 5px;
        background-color: #d3cece;
        margin-bottom: 10px;
        border: 1px solid transparent;
        text-align: right;
          padding-right: 5px;
    }
    .show3 .input-tasgel3 h3{
        font-size: 18px;
        margin-right: 20px;
    }
    .show3 .input-tasgel3 p{
        margin-right: 20px;
        font-size: 14px;
        color: #9c9797;
    }
    .show3 .input-tasgel3 .back3{
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .show3 .input-tasgel3 .i-tas3{
        background-color: #9c9797;
        width: 25px;
        height: 20px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 2px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .show3 .input-tasgel3 .button53{
        cursor: pointer;
        padding: 8px 30px;
        border: 1px solid transparent;
        background-color: #F4A825;
        border-radius: 8px;
        font-size: 14px;
        margin-right: 30px;
    }
    .top{
        width: 40px;
        height: 40px;
        background-color: black;
        position: absolute;
        bottom: 20px;
        right: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        position: fixed;
        z-index: 564165419865410;
        opacity: 0;
        cursor: pointer;
    }
}